.DS_Store
*.zip
apps/findr-api/.venv/
apps/findr-api/.env
apps/findr-api/.env.local
apps/findr-api/.env.production
apps/findr-api/build/
apps/findr-api/*.egg-info/
apps/findr-web/node_modules/
apps/findr-web/.env
apps/findr-web/.env.local
apps/findr-web/.env.production
apps/findr-web/build/
