.DS_Store
*.zip
apps/findr-api/.venv/
apps/findr-api/.env
apps/findr-api/.env.local
apps/findr-api/.env.production
apps/findr-api/build/
apps/findr-api/*.egg-info/
apps/findr-liferay-client-extension/node_modules/
apps/findr-liferay-client-extension/.env
apps/findr-liferay-client-extension/.env.local
apps/findr-liferay-client-extension/.env.production
apps/findr-liferay-client-extension/build/
